<h2>Libro diario</h2>
<br>

<div class="container">
    <!-- Alertas -->
    <div *ngIf="alerta" class="alert alert-{{ alerta.tipo }} alert-dismissible fade show" role="alert">
      {{ alerta.mensaje }}
      <button type="button" class="btn-close" aria-label="Close" (click)="cerrarAlerta()"></button>
    </div>

    <div class="d-flex justify-content-center align-items-center mb-3">
        <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createAccountModal">Crear cuenta</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-dark">Generar informe</button>
            </div>  
        </div>
    </div>

    <div class="modal fade" id="createAccountModal" tabindex="-1" aria-labelledby="createAccountModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="createAccountModalLabel">Agregar Nueva Cuenta</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formularioCuenta">
              <div class="mb-3">
                <label for="account-name" class="col-form-label">Cuenta:</label>
                <input formControlName="nombre" type="text" class="form-control" id="account-name">
              </div>
              <div class="mb-3">
                <label for="account-balance" class="col-form-label">Saldo:</label>
                <input formControlName="saldo" type="text" class="form-control" id="account-balance">
              </div>
              <div class="mb-3">
                <label for="account-type" class="col-form-label">Tipo:</label>
                <select formControlName="tipo" class="form-select" aria-label="Default select example">
                  <option value="Activo">Activo</option>
                  <option value="Pasivo">Pasivo</option>
                  <option value="Capital">Capital</option>
                  <option value="Ingreso">Ingreso</option>
                  <option value="Gasto">Gasto</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="crearAccount()">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let item of dataPartida; let i = index" class="container hoja mb-3">
        <div class="container">
          <br>
          <button type="button" class="btn btn-primary"(click)="revertirPartida(item._id)" >
            Revertir Partida
          </button>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">{{ item.descripcion }}</th>
                <th scope="col">Debe</th>
                <th scope="col">Haber</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let asiento of item.asientos; let j = index">
                <th scope="row">{{ j + 1 }}</th>
                <td>{{ asiento.cuenta.nombre }}</td>
                <td>{{ asiento.debe }}</td>
                <td>{{ asiento.haber }}</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td><strong>Total</strong></td>
                <td><strong>{{ item.totalDebe }}</strong></td>
                <td><strong>{{ item.totalHaber }}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <br>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
      Crear Partida
    </button>

    <!-- Modal 1 -->
    <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="createEntryModalLabel">Agregar Nueva Partida</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formularioPartida">
              <div class="mb-3">
                <label for="entry-date" class="col-form-label">Fecha:</label>
                <input formControlName="fecha" type="date" class="form-control" id="entry-date">
              </div>
              <div class="mb-3">
                <label for="entry-description" class="col-form-label">Descripción:</label>
                <textarea formControlName="descripcion" class="form-control" id="entry-description"></textarea>
              </div>
              <div class="row">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Cuenta</th>
                      <th scope="col">Debe</th>
                      <th scope="col">Haber</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let linea of lineas; let index = index">
                      <th>{{ index + 1 }}</th>
                      <td>{{ linea.nombre }}</td>
                      <td>{{ linea.debe }}</td>
                      <td>{{ linea.haber }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal2" data-bs-dismiss="modal">
                Agregar línea
              </button>
            </form>
          </div>
          <div class="modal-footer d-flex justify-content-end">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary ms-2" (click)="crearPartida()">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addLineModalLabel">Agregar Línea</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formularioLinea">
              <label class="normal">Cuenta</label>
              <select [(ngModel)]="formIdNombre" formControlName="cuenta" class="normal" id="sucursal">
                <option *ngFor="let item of data" [value]="item._id + '/' + item.nombre">{{ item.nombre }}</option>
              </select>
              <div class="item">
                <label class="normal">Debe</label>
                <input [(ngModel)]="debeLinea" formControlName="debe" type="number" class="normal">
              </div>
              <div class="item">
                <label class="normal">Haber</label>
                <input [(ngModel)]="haberLinea" formControlName="haber" type="number" class="normal">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1" data-bs-dismiss="modal" (click)="addLinea()">
              Agregar Línea a la Partida
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
