h2{
    text-align: center;
}

.hoja{
    border-style: solid;
    border-color: black;
}

.botones{
    margin: 25px;
}

.btn{
    width: 300px;
    margin-bottom: 15px;
}

.inputDeb{
    width: 100px;
}

.contenedor {
 height: 50vh;
 width: 80vh;
}